* {
  box-sizing: border-box;
}

dialog{
  border: none;
  border-radius: 5px;
  background-color: white;
  
}

button{
  background-color: #519872;
  border: none;
  color: white;
  cursor: pointer;
  font-size: .9rem;
  padding: 1rem;;
}

.open-button:hover{
background-color: white;
color: black;
}

.close-button{
  background-color: #519872;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #252525 ;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #519872;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  color: black;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li a:hover{
  color: black;
}

.navbar-links li:hover {
  background-color: rgb(255, 255, 255);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.divclock{
  display: flex;
  justify-content: center;
  align-items: center;

}
.clock{
  font-size: 17vw;
  color: #519872;
 
}
.ampm{
  font-size: 10vw;
  color: #519872;
  

}

@media only screen and (max-width:640px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }
button{
  padding: .5rem 1rem;
  font-size: .9rem;
}
  .navbar-links.active {
      display: flex;
  }
}

.clock{
 
  color: #519872;
  
}