#abortion{
  font-family: 'Orbitron', sans-serif;
    font-size: 170px;
    color: white;
    display: flex;
   align-items: center;
   justify-content: center;
}
    
 

button {
  font-family: monospace;
  font-size: 1.5rem;
  color: #FAFAFA;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 35px 0;
  position: relative; top: -610px; left: 1200px;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

  
ul{
    animation: bounce-in;
    animation-duration: 3s;
   /*adjust*/
   
}
#amorpms{
    color: white;
    padding-right: 0%;

}

html, body{
    position:absolute;
    top: 0%;
    right:0%;
    bottom:0%;
    left:0%;
    margin: 0%;
    overflow: hidden;
    padding: 0%;
    background-color: #252525;

    
    
    
  }



main{
    width: auto;
    height: auto;
}



@media only screen and (max-width:640px){
 #abortion{
  font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    color: white;
    float: left;
    margin: 80px;
    
}
    p{
    text-align: center;
    width: 1.9em;
    font-size: 17vw;
    font-family: 'Orbitron', sans-serif;
    }

    li
{
    
   width: 320px; /* adjust */
   height: 70px; /* adjust */
   padding: 10px; /*adjust*/
   max-height: auto;
   

}
img{
    max-width: 100%;
    width: 100%;
    
}

button{
    position: relative; left: 280px;
    border-radius: 5px;
    font-size: x-large;
  }
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }