body{
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}    


html, body{
    position:absolute;
    top: 0%;
    right:0%;
    bottom:0%;
    left:0%;
    margin: 0%;
    overflow: hidden;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }


  button {
    font-family: monospace;
    font-size: 1.5rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 35px 0;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

input{
    position: relative; left: 591px; top: 290px;
    font-size: 15px;
}

  
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   

   
@media only screen and (max-width:640px){
.clear-alarm{
    position: relative; left: 110px;
    margin-top: 65px;
    
}
.set-alarm{
    position: relative; left: 140px;
    
}

input{
    position: relative;
    left: 95px;
}

}

